.route-info {
    padding: 16px;
}

.route-info-item {
    display: flex;
    margin-top: 16px;
    font-size: 1em;
}

.route-info-item-label {
    font-weight: 500;
}

.route-info-item-value {
    margin-left: 16px;
    font-weight: bold;
}
